<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Document</title>
</head>

<body>
    <h1>el balance de tu cuenta es: </h1>
    Monto: <input type="number" name="monto">
    <input type="button" onclick=" location.href='/'" value="Depositar" name="Depositar" /> 
    <input type="button" onclick=" location.href='/'" value="Retirar" name="Retirar" /> 

</body>